<html>
<title> Create a Team and Heroes!</title>

<form action= "/teams" method="POST">
<label for= "name">Team Name</label>
<input type="text" name="team[name]">
<label for= "motto">Team Motto</label>
<input type="text" name="team[motto]">

<h2> Hero 1</h2>

<label for= "name">Hero's Name</label>
<input id="member1_name" type="text" name="team[members][][name]">
<label for= "power">Hero's Power</label>
<input id="member1_power" type="text" name="team[members][][power]">
<label for= "bio">Hero's Biography</label>
<input id="member1_bio" type="text" name="team[members][][bio]">


<h2> Hero 2</h2>

<label for= "name">Hero's Name</label>
<input id="member2_name" type="text" name="team[members][][name]">
<label for= "power">Hero's Power</label>
<input id="member2_power" type="text" name="team[members][][power]">
<label for= "bio">Hero's Biography</label>
<input id="member2_bio" type="text" name="team[members][][bio]">


<h2> Hero 3</h2>

<label for= "name">Hero's Name</label>
<input id="member3_name" type="text" name="team[members][][name]">
<label for= "power">Hero's Power</label>
<input id="member3_power" type="text" name="team[members][][power]">
<label for= "bio">Hero's Biography</label>
<input id="member3_bio" type="text" name="team[members][][bio]">
<button id="submit" name="submit"/button>

</form>
</html>
